<nav class="navbar sitenav sitenav--default" role="navigation">
  <div class="container">
    <a class="sitenav__logo" href="#">Grav</a>
    <div class="sitenav__list">
      <ul>
        {% for page in pages.children %}
        {% if page.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="sitenav__list__item {{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>