<nav class="navbar navbar--default" role="navigation">
  <div class="container">
    <div class="navbar__header">
      <a class="navbar__header__brand" href="#">Grav</a>
    </div>
    <div class="navbar__items">
      <ul class="navbar__items__list">
        {% for page in pages.children %}
        {% if page.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
        <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>