.bigtext {
  color: white;
  margin: 0 auto;
}
.bigtext--homehero {
  font-size: 48px;
  font-size: 4.25rem;
  font-weight: 900;
  font-family: $header-font-family;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  max-width: 50rem;
  padding: 20vh 0;
}
.bigtext--tagline {
  text-align: center;
  font-size: $font-size-xxlarge;
  line-height: $font-line-height-small;
  max-width: 80%;
  padding: $content-block-padding 0 ($content-block-padding / 3);
}