$button-line-height: 20px;

.button {
  text-align: center;
  display: inline-block;
  margin: 0px;
  padding: $spacing-small;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: $border-radius-normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 12px;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.button--projects {
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 0px 2px white inset;
}
