$collage-gutter: $spacing-xsmall; /* 8px */
$collage-tall-height: 50vw;

.collage {

}
.collage--home {

}
.collage__row {
  display: block;
  margin-bottom: $collage-gutter;
}
.collage__half {
  width: calc(50% - 4px);
  float: left;
  height: $collage-tall-height;
  &:first-child {
    margin-right: $collage-gutter;
  }
}
.collage__figure {
  min-height: $collage-tall-height / 3;
  border-radius: $border-radius-normal;
  background-size: cover;
  background-position: center;
}
.collage__figure--hero {
  height: $collage-tall-height * 0.75;
}
.collage__figure--tall {
  height: 100%;
}
.collage__figure--short {
  height: calc(50% - 4px);
  &:first-child {
    margin-bottom: $collage-gutter;
  }
}
.collage__figure__img {
  border-radius: $border-radius-normal;
}
