.pricing-cards {

}
.pricing-cards--home {
  margin: $spacing-large 0;
}
.pricing-card {
  float: left;
  width: 25%;
  overflow: hidden;
  border-radius: $border-radius-normal;
}
.pricing-card__header,
.pricing-card__content {
  background: $light-most;
  position: relative;
  max-width: 96%;
  margin: 0 auto;
}
.pricing-card__header {
  text-align: center;
  padding: $spacing-medium 0;
  border-top-left-radius: $border-radius-normal;
  border-top-right-radius: $border-radius-normal;
}
.pricing-card__header__title {
  padding-bottom: $spacing-xsmall;
}
.pricing-card__header__tagline {
  
}
.pricing-card__content {
  border-bottom-left-radius: $border-radius-normal;
  border-bottom-right-radius: $border-radius-normal;
}
.pricing-card__content__perks {
  text-align: center;
  line-height: $font-line-height-large;
  padding: 0 $spacing-medium $spacing-medium;
}