$scroller-height: 50vw;

.scroller {

}
.scroller__item {
  margin-bottom: $collage-gutter;
}
.scroller__item__figure {
  min-height: $scroller-height / 2;
  border-radius: $border-radius-normal;
  background-size: cover;
  background-position: center;
}
.scroller__item__action {
  
}