.shortlist {

}
.shortlist--tagline {
  max-width: 80%;
  line-height: $font-line-height-large;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.shortlist__item {
  display: inline;
}