/* When using, must apply `.bigtext` base first, then apply a modifier after it.
Should only include font related properties here. No opinionated positioning. 

Allowed properties:
font-size
font-height
font-family
font-weight
letter-spacing
line-height
text-transform
text-align

Note: modifiers can add opinionated stylings, but not base.
*/

.bigtext {
  color: $dark-medium;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  line-height: $font-line-height-small;
  font-family: $strong-font-family;
}
.bigtext--homehero {
  text-align: center;
  max-width: 80px;
  margin: 0 auto;
  color: $pink;
  font-size: $font-size-xxlarge;
  font-weight: $font-weight-bold;
  line-height: $font-line-height-small;
  padding: $spacing-xxlarge 0;
}
.bigtext--tagline {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  font-size: $font-size-xxlarge;
  padding: 0 0 $spacing-medium;
}
.bigtext--workflow {
  line-height: $font-line-height;
  padding-bottom: $spacing-large;
  font-size: $font-size-xxlarge;
}
.bigtext--cosplay {
  color: $light-most;
  line-height: $font-line-height;
  padding-bottom: $spacing-large;
  font-size: $font-size-xxlarge;
}
.bigtext--pricing {
  display: block;
  font-size: $font-size-xxlarge;
}
.bigtext--navblock {
  display: block;
  font-size: $font-size-xlarge;
  margin: 0 0 $spacing-xsmall;
}
.smalltext {
  font-size: $font-size-xsmall;
  line-height: $font-line-height-large;
  text-transform: uppercase;
}
.smalltext--block {
}