<div class="home__cosplay darken-bg" style="background-image: url({{ page.media['bg.jpg'].url }})">
  <section class="container">

    <div class="subcontainer subcontainer--right">
      <h2 class="bigtext bigtext--cosplay">
        {{ page.header.header }}
      </h2>

      <div class="prose prose--cosplay">
        <p>{{ page.header.location }}</p>
      </div>
    </div>

  </section>
</div>