<div class="home__intro">
  <section class="home__intro__content container">
    <h1 class="bigtext bigtext--homehero">{{ page.header.herotext }}</h1>

    <nav class="home__navi">
      <ul>
        {% for i in 1..4 %}
        <li>
          <a href="#section-project" class="home__navi__block">
            <span>Gallery</span>
            <small>Works overview</small>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
</div>

<div class="home__tagline">
  <section class="home__tagline__content">
    <h2>{{ page.header.tagline }}</h2>
      <ul>
        {% for t in 1..4 %}
        <li>Lifestyle</li>
        {% endfor %}
      </ul>
  </section>
</div>
