<div class="home__intro">
  <section class="container container--homehero">
    <h1 class="bigtext bigtext--homehero">{{ page.header.herotext }}</h1>

    <nav class="navblock navblock--homehero">
      <ul class="navblock__list">
        {% for i in 1..4 %}
        <li class="navblock__listitem">
          <a href="#section-project" class="navblock__listitem__link">
            <span class="navblock__listitem__title bigtext--block">Gallery</span>
            <small class="navblock__listitem__meta">Works overview</small>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
</div>
