<div class="home__intro">
  <section class="container container--homehero">
    <h1 class="bigtext bigtext--homehero">
      {{ page.header.brandname }}<br/>
      {{ page.header.brandsurname }}<br/>
      {{ page.header.brandproperty }}
    </h1>

    <div class="home__intro__images">
      <img class="" src="http://placehold.it/1200x800/f5f5f5/FFB6C1">
    </div>

    <nav class="navblock navblock--homehero">
      <ul class="navblock__list">
        {% for i in 1..4 %}
        <li class="navblock__listitem">
          <a href="#section-project" class="navblock__listitem__link">
            <span class="navblock__listitem__title bigtext bigtext--navblock">Gallery</span>
            <small class="navblock__listitem__meta smalltext">Works overview</small>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </section>
</div>
