<div class="home__projects">
  <section class="home__projects__content collage">

    <div class="home__projects__content__row clear">
      <figure class="collage__img collage__img--hero">
        <img src="{{ page.media['project-hero.jpg'].url }}">
      </figure>

      <div class="collage__content">
        <h2>
          <span class="header__border">{{ page.header.project_header }}</span>
        </h2>
        <p>{{ page.header.project_desc }}</p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="home__projects__content__row">
      <figure class="collage__img collage__img--horizontal">
        <img src="{{ page.media['project-horizontal.jpg'].url }}">
      </figure>
    </div>

  </section>
</div>
