<div class="home__workflow">
  <section class="container">
  <div class="subcontainer subcontainer--left">
    <h2 class="bigtext bigtext--workflow">
      {{ page.header.header }}</br>{{ page.header.subheader }}
    </h2>

    <div class="prose prose--location">
      <p>{{ page.header.location }}</p>
    </div><!-- .home__projects__content__row -->
  </div>
  </section>
</div>