<div class="home__workflow">
  <section class="home__workflow__content">
    <h2>
      <span class="header__border">{{ page.header.chapter_header }}</span>
    </h2>

    <div class="home__projects__content__row">
      <p>{{ page.header.chapter_desc }}</p>
    </div><!-- .home__projects__content__row -->

  </section>
</div>
