<div class="home__workflow lighten-bg">
  <section class="container">
    <div class="subcontainer subcontainer--left">
      <h2 class="bigtext bigtext--workflow">
        {{ page.header.header }}</br>{{ page.header.subheader }}
      </h2>

      <div class="prose prose--location">
        <p>{{ page.header.location }}</p>
      </div><!-- .home__projects__content__row -->
    </div>

    <div class="pricing-cards pricing-cards--home clearfix">
      {% for t in 1..4 %}
      <div class="pricing-card">
        <header class="pricing-card__header">
          <h3 class="pricing-card__header__title smalltext smalltext--block">Convention Shooting</h3>
          <p class="pricing-card__header__tagline bigtext bigtext--block">$119</p>
        </header>
        <div class="pricing-card__content">
          <ul class="pricing-card__content__perks">
            <li class="">2 hours dedicated time</li>
            <li class="">9 retouched photos</li>
            <li class="">12 color-adjusted photos</li>
          </ul>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </section>
</div>