/* Spacing - base */
/* Spacing - elements, which all derives from base */
/* 960px */
/* 960px */
/* 6.5rem */
/* Media queries - https://gist.github.com/bobbygrace/9e961e8982f42eb91b80 */
@highdensity :  ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
               ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
               ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
               ~"only screen and (min-device-pixel-ratio: 1.5)";
@small :        ~"only screen and (max-width: 750px)";
@medium :       ~"only screen and (min-width: 751px) and (max-width: 900px)";
@large :        ~"only screen and (min-width: 901px) and (max-width: 1280px)";
@extra-large :  ~"only screen and (min-width: 1281px)";
@print :        ~"print";
/* Z-indices, border radix */
/* 3px */
/* Global typography variables */
/* 10.8px */
/* 12px */
/* 14px */
/* 16px */
/* 19.2px */
/* 24px */
/* 32px */
/* Global typography variables for h1, h2, h3, h4, h5, h6 */
/* Colors - base */
/* navy */
/* gold */
/* midnight */
/* denim */
/* blue */
/* Colors - elements, which all derives from base */
/* Global utilities */
/* Global sitenav link styles */
/* Chapter header styles */
/* Angled edges background CSS, credit https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms */
/* CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  /* Define base REM as 16px */ }

body {
  background: #FFF;
  font-size: 100%;
  font-style: normal;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #5e5e5e;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%; }

a, a:visited {
  text-decoration: none;
  color: #3887be; }
  a:hover, a:focus, a:active, a:visited:hover, a:visited:focus, a:visited:active {
    color: #5a9fcf; }

.container {
  margin: 0 auto;
  max-width: 960px;
  position: relative; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.lighten-bg {
  box-shadow: inset 0 0 1000px 1000px rgba(255, 255, 255, 0.5); }

.bigtext {
  color: white;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.05;
  font-family: "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.bigtext--homehero {
  font-size: 48px;
  font-size: 4.25rem;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  max-width: 50rem;
  padding: 20vh 0; }

.bigtext--tagline {
  text-align: center;
  max-width: 80%;
  padding: 0 0 2.5rem; }

.bigtext--workflow {
  color: #5e5e5e;
  line-height: 1.2;
  padding-bottom: 2rem; }

.bigtext--block {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0.5rem; }

.prose {
  line-height: 1.5; }

.pricing-cards--home {
  margin: 2rem 0; }

.pricing-card {
  float: left;
  width: 25%;
  overflow: hidden;
  border-radius: 0.1875rem; }

.pricing-card__header,
.pricing-card__content {
  border-radius: 0.1875rem;
  position: relative;
  max-width: 230px;
  margin: 0 auto; }

.pricing-card__header {
  background: #f9886c;
  text-align: center;
  padding: 1.5rem 0; }

.button {
  text-align: center;
  display: inline-block;
  margin: 0px;
  padding: 0.75rem;
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 0.1875rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  font-size: 12px;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased; }

.button--projects {
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 0px 2px white inset; }

#header {
  /* Apply this at the parent div of .container */
  margin: 2rem auto; }
  @media (max-width: 960px) {
    #header {
      width: 90%; } }

.sitenav {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  height: 48px;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(49, 78, 95, 0.075); }
  .sitenav h1 {
    width: 70px;
    height: 27px;
    /*overflow: hidden;*/
    text-indent: 100%;
    margin: 0 0 0 -1px;
    position: absolute;
    z-index: 10;
    top: 10px; }
    .sitenav h1 a {
      display: block;
      position: absolute;
      left: -70px;
      padding: 6px 1rem;
      /* STRIPE LOGO MODE
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(https://stripe.com/img/navigation/logo.png?2);
      background-repeat: no-repeat;
      */ }
  .sitenav__content {
    left: auto;
    width: auto;
    height: auto;
    position: relative; }
  .sitenav__pages {
    margin-left: 80px;
    padding: 16px 0 0; }
    .sitenav__pages__item {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500;
      transition: all 0.3s ease-in-out; }
  .sitenav__actions {
    position: absolute;
    right: 0;
    padding: 16px 0 0;
    top: 0; }
    .sitenav__actions__item {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500; }
    .sitenav__actions__button {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500; }

/* 8px */
.collage__row {
  display: block;
  margin-bottom: 0.5rem; }

.collage__half {
  width: calc(50% - 4px);
  float: left;
  height: 50vw; }
  .collage__half:first-child {
    margin-right: 0.5rem; }

.collage__figure {
  min-height: 16.66667vw;
  border-radius: 0.1875rem;
  background-size: cover;
  background-position: center; }

.collage__figure--hero {
  height: 37.5vw; }

.collage__figure--tall {
  height: 100%; }

.collage__figure--short {
  height: calc(50% - 4px); }
  .collage__figure--short:first-child {
    margin-bottom: 0.5rem; }

.collage__figure__img {
  border-radius: 0.1875rem; }

.navblock {
  margin: -2rem auto;
  max-width: 960px;
  z-index: 2;
  border-radius: 0.1875rem;
  background-color: #f8f8f8; }

.navblock--homehero {
  position: absolute;
  bottom: 0;
  width: 100%; }

.navblock__list {
  display: table;
  width: 100%; }

.navblock__listitem {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .navblock__listitem:hover {
    background-color: #ebebeb;
    border-radius: 0.1875rem; }

.navblock__listitem__link {
  display: block;
  padding: 1.5rem 0; }

.navblock__listitem__meta {
  font-size: 0.75rem;
  text-transform: uppercase; }

.shortlist--tagline {
  color: white;
  max-width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.shortlist__item {
  display: inline; }

.container {
  position: relative;
  width: 83.3333%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.container--homehero {
  height: 100%; }

/* Subcontainer must be used inside container */
.subcontainer--left {
  margin-right: 50%;
  width: 50%;
  max-width: 576px; }

.page--home #header {
  display: none; }

.home__intro {
  height: 100vh;
  background-color: red;
  background-image: url(http://i.imgur.com/jzWoK90.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0; }

.home__tagline {
  margin-bottom: 3rem; }

.home__projects {
  background: linear-gradient(#495d77, #364457);
  padding: 6.5rem 0 3.25rem;
  position: relative;
  z-index: -1; }

.home__projects__curtain {
  background: navy;
  position: absolute;
  bottom: 0;
  width: 100%; }

.home__workflow {
  background-color: #cad2d3;
  background-image: url(https://cloud.githubusercontent.com/assets/1095291/15449812/3ff72e06-1f3d-11e6-81d2-48d68fad25ad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 6.5rem 0 3.25rem;
  min-height: 800px; }

/*# sourceMappingURL=theme.css.map */
