/* Spacing */
/* 960px */
/* Global typography vars */
/* 10.8px */
/* 12px */
/* 14px */
/* 16px */
/* 19.2px */
/* Global <body> vars */
/* Header sitenav vars */
/* Variables for h1, h2, h3, h4, h5, h6 */
/* Colors */
/* Global utilities */
/* Header sitenav link styles */
/* CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  /* Define base REM as 16px */ }

body {
  background: #F7F7F7;
  font-size: 100%;
  font-style: normal;
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%; }

a, a:visited {
  text-decoration: none;
  color: #999; }
  a:hover, a:focus, a:active, a:visited:hover, a:visited:focus, a:visited:active {
    color: #444; }

.container {
  margin: 0 auto;
  max-width: 60rem;
  position: relative;
  zoom: 1; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

#header {
  margin: 2rem 0; }

.sitenav {
  margin: 0 auto;
  max-width: 60rem;
  position: relative;
  zoom: 1;
  height: 48px;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(49, 78, 95, 0.075); }
  .sitenav h1 {
    width: 70px;
    height: 27px;
    /*overflow: hidden;*/
    text-indent: 100%;
    margin: 0 0 0 -1px;
    position: absolute;
    z-index: 10;
    top: 10px; }
    .sitenav h1 a {
      display: block;
      position: absolute;
      left: -70px;
      padding: 6px 1rem;
      /* STRIPE LOGO MODE
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(https://stripe.com/img/navigation/logo.png?2);
      background-repeat: no-repeat;
      */ }
  .sitenav__content {
    left: auto;
    width: auto;
    height: auto;
    position: relative; }
  .sitenav__pages {
    margin-left: 80px;
    padding: 16px 0 0; }
    .sitenav__pages__item {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500;
      transition: all 0.3s ease-in-out; }
  .sitenav__actions {
    position: absolute;
    right: 0;
    padding: 16px 0 0;
    top: 0; }
    .sitenav__actions__item {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500; }
    .sitenav__actions__button {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500; }

.home__intro__content {
  margin: 20vh auto;
  max-width: 60rem;
  position: relative;
  zoom: 1; }
  .home__intro__content h2 {
    max-width: 50rem;
    margin: 0 auto;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center; }
.home__projects {
  margin: 20vh auto;
  max-width: 60rem;
  position: relative;
  zoom: 1; }
.home .gallery--home {
  max-width: 58rem;
  margin: 0 0 0 1rem; }
  .home .gallery--home__item {
    display: inline-block; }
  .home .gallery--home img {
    max-width: 49%;
    margin-bottom: 2px;
    border-radius: 2px; }

/* Masonry utilities */
.gutter-sizer-responsive {
  /* For masonry to set responsive horizontal gutter */
  width: 0.5%; }

.collage {
  display: flex; }
  .collage__img {
    float: left;
    display: inline-block;
    width: 80%; }
    .collage__img img {
      max-width: 100%; }
  .collage__content {
    z-index: 10;
    align-self: center;
    display: inline-block;
    float: left;
    max-width: 300px;
    margin-left: -35px;
    letter-spacing: 0.35px; }
    .collage__content h2 {
      font-size: 36px;
      margin: 30px auto;
      letter-spacing: 2px; }
    .collage__content p {
      font-size: 13px;
      line-height: 1.6;
      color: #888; }

.header__border {
  padding-bottom: 5px;
  background-position: 0 85%;
  background-size: 100% 15px;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(#f9e1e7 0%, #f9e1e7 100%);
  background-image: -o-linear-gradient(#f9e1e7 0%, #f9e1e7 100%);
  background-image: linear-gradient(#f9e1e7 0%, #f9e1e7 100%); }

/*# sourceMappingURL=theme.css.map */
