/* Spacing */
/* 960px */
/* Global typography vars */
/* 10.8px */
/* 12px */
/* 14px */
/* 16px */
/* 19.2px */
/* Global <body> vars */
/* Header sitenav vars */
/* Variables for h1, h2, h3, h4, h5, h6 */
/* Colors */
/* Global utilities */
/* Header sitenav link styles */
/* CSS Reset
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px;
  /* Define base REM as 16px */ }

body {
  background: #F7F7F7;
  font-size: 100%;
  font-style: normal;
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  position: relative;
  min-height: 100%; }

a, a:visited {
  text-decoration: none;
  color: #999; }
  a:hover, a:focus, a:active, a:visited:hover, a:visited:focus, a:visited:active {
    color: #444; }

.container {
  margin: 0 auto;
  max-width: 60rem;
  position: relative;
  zoom: 1; }

#header {
  padding: 2rem 0; }

.sitenav {
  max-width: 60rem;
  margin: 0 auto;
  position: relative;
  height: 48px;
  padding: 0;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(49, 78, 95, 0.075); }
  .sitenav h1 {
    width: 70px;
    overflow: hidden;
    height: 27px;
    overflow: hidden;
    text-indent: 100%;
    margin: 0 0 0 -1px;
    position: absolute;
    z-index: 10;
    top: 10px; }
    .sitenav h1 a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(https://stripe.com/img/navigation/logo.png?2);
      background-repeat: no-repeat; }
  .sitenav__content {
    left: auto;
    width: auto;
    height: auto;
    position: relative; }
  .sitenav__pages {
    margin-left: 80px;
    padding: 16px 0 0; }
    .sitenav__pages__item {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500;
      transition: all 0.3s ease-in-out; }
  .sitenav__actions {
    position: absolute;
    right: 0;
    padding: 16px 0 0;
    top: 0; }
    .sitenav__actions__item {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500; }
    .sitenav__actions__button {
      display: inline;
      list-style-type: none;
      padding: 10px 8px;
      color: #666;
      text-decoration: none;
      font-weight: 500; }

.home__intro__content {
  margin: 0 auto;
  max-width: 60rem;
  position: relative;
  zoom: 1; }
  .home__intro__content h2 {
    font-size: 24px; }

/*# sourceMappingURL=theme.css.map */
