#header {
  padding: $spacing-large 0;
}
.sitenav {
  max-width: $container-max-width;
  margin: 0 auto;
  position: relative;
  height: 48px;
  padding: 0;
  font-size: $font-size-small;
  border-bottom: 1px solid $border-color-sitenav;

  h1 {
    width: $sitenav-logo-width;
    overflow: hidden;
    height: 27px;
    overflow: hidden;
    text-indent: 100%;
    margin: 0 0 0 -1px;
    position: absolute;
    z-index: 10;
    top: 10px;
    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(https://stripe.com/img/navigation/logo.png?2);
      background-repeat: no-repeat;
    }
  }

  &__content {
    left: auto;
    width: auto;
    height: auto;
    position: relative;
  }

  &__pages {
    margin-left: $sitenav-logo-width + 10;
    padding: 16px 0 0;

    &__item {
      @include nav-link-style;
      @include transition-all;
    }
  }

  &__actions {
    position: absolute;
    right: 0;
    padding: 16px 0 0;
    top: 0;

    &__item {
      @include nav-link-style;
    }
    &__button {
      @include nav-button-style;
    }    
  }

}