.sitenav {
  padding: $spacing-xxxlarge 0;
  font-size: $font-size-small;

  &__logo {
    float: left;
  }

  &__list {
    background: red;
    float: right;

    &__item {
      display: inline-block;
      &:not(:first-child) {
        margin: 0 0 0 $spacing-small;
      }

    }
  }

}