.sitenav {
  padding: $spacing-xxxlarge 0;
  font-size: $font-size-small;

  &__logo {
    float: left;
  }

  &__list {
    float: right;

    &__item {
      display: inline-block;
      @include transition-all;
      &:not(:first-child) {
        margin: 0 0 0 $spacing-small;
      }
      &:hover {
        @include link-hover-effect;
      }
    }
  }

}