/* Global utilities */
@mixin max-container ($marginValue...) {
  margin: $marginValue;
  max-width: $container-max-width;
  position: relative;
  zoom: 1;
}
@mixin link-hover-effect () {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    height: 18px;
    opacity: .1;
    background: #555572;
    display: block;
    width: 100%;
  }
}
@mixin transition-all () {
  transition: all 0.3s ease-in-out;
}

/* Header sitenav link styles */
@mixin nav-link-style () {
  display: inline;
  list-style-type: none;
  padding: 10px 8px;
  color: #666;
  text-decoration: none;
  font-weight: 500;
}
@mixin nav-button-style () {
  display: inline;
  list-style-type: none;
  padding: 10px 8px;
  color: #666;
  text-decoration: none;
  font-weight: 500;
}