$block-padding: $content-block-padding 0 ($content-block-padding / 2);

.page--home {
  #header {
    display: none;
  }
}
.home__intro {
  height: 100vh;
  background-color: pink;
  background-image: url(http://i.imgur.com/jzWoK90.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: $z-index-herobg;
}
.home__tagline {
  margin-bottom: $spacing-xxlarge;
}
.home__projects {
  background: $home-nav-bg;
  background-image: url(../images/bg_photography.png);
  padding: $block-padding;
  position: relative;
  z-index: $z-index-bg;
}
/*@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .home__projects {
  background-image: url(../images/bg_photography.png);
  }
}*/
.home__projects__curtain {
  background: navy;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home__workflow {
  background-color: rgb(202, 210, 211);
  background-image: url(https://cloud.githubusercontent.com/assets/1095291/15520208/014b8ec0-21ba-11e6-94d7-691dcb0407ab.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: $block-padding;
}
.home__workflow {
  background-color: rgb(202, 210, 211);
  background-image: url(https://cloud.githubusercontent.com/assets/1095291/15520208/014b8ec0-21ba-11e6-94d7-691dcb0407ab.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: $block-padding;
}
.home__testimonial {
  position: relative;
  padding: $block-padding;
}
.home__cosplay {
  transition: background 2s ease;
  background-color: rgb(202, 210, 211);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: $block-padding;
}