.page--home {
  #header {
    display: none;
  }
}
.home__intro {
  height: 100vh;
  background-color: red;
  background-image: url(http://i.imgur.com/jzWoK90.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: $z-index-herobg;
}
.home__tagline {
  margin-bottom: $spacing-xxlarge;
}
.home__projects {
  background: $home-projects-bg;
  padding: $content-block-padding 0 ($content-block-padding / 2);
  position: relative;
  z-index: $z-index-bg;
}
.home__projects__curtain {
  background: navy;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home__workflow {
  background-color: rgb(202, 210, 211);
  background-image: url(https://cloud.githubusercontent.com/assets/1095291/15449812/3ff72e06-1f3d-11e6-81d2-48d68fad25ad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: $content-block-padding 0 ($content-block-padding / 2);
  min-height: 800px;
}