.home {

  &__intro {
    @include responsive-margin-and-width();
    &__content {
      @include max-container(20vh auto);
      h2 {
        max-width: 50rem;
        margin: 0 auto;
        font-size: 26px;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
      }
    }
  }

  &__projects {
    @include max-container(20vh auto);
    &__content {
    }
  }

  .gallery--home {
    max-width: $container-max-width - 2;
    margin: 0 0 0 1rem;
    &__item {
      display: inline-block;
    }
    img {
      max-width: 49%;
      margin-bottom: 2px;
      border-radius: 2px;
    }
  }
}


/* Masonry utilities */
.gutter-sizer-responsive {
  /* For masonry to set responsive horizontal gutter */
  width: 0.5%;
}
.collage {
  display: flex;
  &__img {
    float: left;
    display: inline-block;
    width: $collage-img-width;
    img {
      max-width: 100%;
    }
  }
  &__content {
    z-index: $z-index-collage-content;
    align-self: center;
    display: inline-block;
    float: left;
    max-width: 300px;
    margin-left: -35px;
    letter-spacing: 0.35px;
    h2 {
      font-size: 36px;
      margin: 30px auto;
      letter-spacing: 2px;
    }
    p {
      font-size: 13px;
      line-height: 1.6;
      color: #888;
    }
  }
}

.header__border {
  @include header-border(5px, 85%, $header-border-pink);
}