// Font Face
// ----------------------------------------------------------------------------

@font-face {
  font-family: 'brandon text';
  src: url('../fonts/brandon-text-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon-text-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon-text-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon-text-regular.svg#brandon_text_regularregular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: 'brandon text';
  src: url('../fonts/brandon-text-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon-text-medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon-text-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon-text-medium.svg#brandon_textmedium') format('svg'); /* Legacy iOS */
  font-weight: 500;
}
@font-face {
  font-family: 'brandon text';
  src: url('../fonts/brandon-text-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/brandon-text-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/brandon-text-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/brandon-text-bold.svg#brandon_textbold') format('svg'); /* Legacy iOS */
  font-weight: 700;
}